<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWLLocation</key>
	<string>console file</string>
	<key>SWLLocationFilename</key>
	<string>~/Desktop/logs.txt</string>
	<key>Box</key>
	<dict>
		<key>SWLLevel</key>
		<string>info</string>
		<key>SWLFlexFormat</key>
		<string>level line date message</string>
	</dict>
</dict>
</plist>
