<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwellIOSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwellIOSDemo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwellIOSDemo3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF0A05531954EC4800E35A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0A055E1954EC4800E35A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA169197C327E00C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA17A197C327E00C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA18C197C62BF00C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA19D197C62BF00C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA1AF197C67C200C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0DA1C2197C67C200C82233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF483239197D8A1800F490CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
